/*diseño de la página de main*/

body {
  background-color: #2874A6;
}

header {
  color: #fff;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
}

.botonLimpiar, .botonEnviar {
  background-color: #fff;
  padding: 5px;
  margin: 10px;
}


.filtros {
  margin-left: 3%;
  color: #fff;
  font-size: medium;
  font-weight: 300;
  display: flex;
  margin-top: 5px;
  width: 15%;
  flex-direction: column;
  position: fixed;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  /*background: url("./images/mostaza1.jpg");*/
  background-color: #da6e92;
  background-size: cover;
}

.filtroEst {
  padding: 15px;
}

.ordenamientoEst {
  padding: 15px;
}

.estadistica {
  display: block;
}

select {
  display: block;
  padding: 5px;
  margin-top: 10px;
}

h1 {
  column-span: all;
  color: white;
}

label {
  font-family: "verdana";
}

select,
#conteo {
  font-family: "verdana";
}

li dd,
.li dd {
  display: inline;
  color:#222323;
}

.imag {
  width: 200px;
  height: 200px;
}

.ulClass {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: 20%;
  margin-top: 10px;
}

.liClass {
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  margin-bottom: 30px;
  margin-right: 30px;
  color: aqua navajowhite;
  /*background: url("./images/mostaza1.jpg");*/
  background-color: #f2c343;
  background-size: cover;
  text-align: center;
  width: 450px;
  flex-direction: column;
  column-count: 2;
  list-style-type: none;
  
}

footer {
  color: #fff;
  padding: 10px;
  justify-content: center;
  text-align: center;
  margin-top: 20%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.5cm;
  font-weight: 300;
}

/*diseño chat general*/
.cajaChatGeneral {
  margin: auto;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  top: -400px;
}


/*diseño de la imagen del chat individual*/
.contPer{
  margin: auto;
}

div.contDetails {
  /*este contenedor contiene la imagen y el elemento li de los datos del personaje para poder hacerlo responsive*/
  display:flex;
  margin:auto;
  border-radius: 10px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  /*background: url("./images/mostaza1.jpg");*/
  background-color:  #f2c343;
  background-size: cover;
  text-align: center;
  flex-direction:column;
  width: 450px;
  list-style-type: none;
}

.li .imag {
  width: 350px;
  height: 350px;
}
/*diseño chat individual dentro de la vista del personaje*/
.chatPersonaje {
  margin-top: 15px;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-content: center;
  border-right-color: 10px #fff;
  margin-left: auto;
}


.botonEnviar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:35%;
  background-color: #f7793e;
  height: 45px;
  width: 3cm;
  font-size: 0.5cm;
  border-radius: 10px 90px / 120px;
  
}
.chat{
  display: flex;
  overflow-x:hidden;
  overflow-y:visible;
  height: 450px;
  width: 800px;
  resize: none;
  background-color: #da6e92;
  font-family: Courier, sans-serif;
  border-radius: 18px;
  color:#fff;
  font-size: 0.6cm;
  font-weight: bold;
}

.textArea {
  display: flex;
  font-family: Courier, sans-serif;
  font-size: larger;
  margin-top: 10px;
  height: 50px;
  width: 795px;
  resize: none;
  background-color: #2d405a; 
  border-radius: 10px;
  color:#fff;
  font-size: 0.7;
}
.mensaje{
  margin-top: 1cm;
  margin-left: 1cm;
}
.footerChatGeneral {
  position: relative;
  top: -180px;
}

.contenedorImagen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 55px;
}

.imagenError{
    width: 550px;
    height: auto;
}
.headerApi{
  margin-top: 5px;
  font-size: medium;
}


#formApiK{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.formularioApiKey{
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eec75c;
  border: 3px solid #1215ca;
  width: 10%;
  height: 100px
   
}

.footerApi{
    position: relative;
    top: 100px
}

.formularioApiKey {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-family: Courier, sans-serif;
  height: 350px;
  width: 800px;
  resize: none;
}

/*codigo para dar formato a los íconos de navegación*/

.iconos{
  display: flex;
  gap: 40px;
  justify-content: right;
  margin-right: 110px;
  margin-top: 25px;
}

.iconHome, .iconChat{
  color:#eec75c;
  font-size: 45px;
}
.botonApiKey{
  width: 150px;
  border-radius: 10px;
  font-size: 0.6cm;
  font-weight: bold;
  background-color: #e3cd93;


}

@media screen and (max-width: 767px) {/*codigo responsive para la página de HOME*/
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 12px;
  }

  #imagen img {
    width: 110%;
    height: 50px;
    margin-right: 10px;
  }

  .imag {
    width: 90px;
    height: 90px;
  }

  select {
    font-size: 8px;
  }

  #filtros {
    font-size: 12px;
  }

  #tipo {
    margin-left: 10px;
  }

  #tipo2 {
    margin-left: 30px;
    margin-right: 90px;
  }

  button {
    font-size: 7px;
  }

  .liClass {
    padding: 10px;
    font-size: small;
    margin-bottom: 8px;
    margin-right: 8px;
  }

  .liClass dt {
    line-height: 1.5;
    font-size: 10px;
    margin-left: 15px;
  }

  .liClass dd {
    margin-bottom: 5px;
    font-size: 9px;
    margin-left: 8px;
  }

  #estadistica {
    margin-right: 15px;
  }

  footer {
    margin-right: -30px;
  }

  .filtros {
    margin-left: 3%;
    color: #fff;
    font-size: medium;
    font-weight: 300;
    display: flex;
    margin-top: 5px;
    width: 15%;
    flex-direction: column;
    position: fixed;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    /*background: url("./images/mostaza1.jpg");*/
    background-color: #da6e92;
    background-size: cover;
  }
  
  .filtroEst {
    padding: 15px;
  }
  
  .ordenamientoEst {
    padding: 15px;
  }
  
  .estadistica {
    display: block;
  }
  
  select {
    display: block;
    padding: 5px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1040px) {/*codigo responsive para el chat individual*/
  .chatPersonaje {
    display: flex;
    justify-items: center;
    margin-top: 15px;
    flex-direction: column;
    column-count:1;
}
div.contDetails{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 200px;
  height: 250px;
  font-size: small;
}
div.contDetails .imag{
  width: 175px;
  height: 175px;
}
.chat{
  display: flex;
  margin:auto;
  margin-top: 5%;
  overflow-x:hidden;
  overflow-y: auto;
  height: 180px;
  width: 320px;
  resize: none;  
}
.textArea{
  display: flex;
  margin:auto;
  margin-top: 5%;
  height: 35px;
  width: 316px;
  resize: none;
}
.botonEnviar{
  display: flex;
  margin:auto;
  margin-top: 5%;
  font-size: large;
  justify-content: center;
  height: 40px;
  width: 80px;
}
.footer{
  margin-top:100%;
}

/*codigo de imagen de error (responsive)*/
.contenedorImagen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 55px;
  margin-top: 200px;
}

.imagenError{
    width: 300px;
    height: auto;
}
}